@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.hide {
    display: none;
}

.unhide {
    display: inline;
}

@media (min-width:760px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
    }

    .navbar img {
        padding: 10px;
    }

    .navlinks {
        display: flex;
        list-style-type: none;
        justify-content: center;
        align-items: center;
    }

    navbar a {
        margin-right: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    .navbar button {
        background-color: #ffdda9;
        padding: 10px 15px;
        border: 0px;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    .bodyContainer {
        background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/landing-page-lg-bg.png");
        height: 100vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    .bodyContainer h1 {
        font-size: 46px;
        text-align: center;
        width: 50%;
    }

    #humburger {
        display: none;
    }

    #close {
        display: none;
    }
}

@media (max-width:768px) {
    .log {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bodyContainer {
        background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/landing-page-sm-bg.png");
        height: 90vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    .bodyContainer h1 {
        font-size: 26px;
        text-align: center;
        width: 80%;
    }

    .navbar img {
        padding: 10px;
    }

    .navlinks {
        display: none;
    }

    .navbar a {
        display: block;
        justify-content: space-between;
        border: 1px solid #e7e5ea;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .navbar button {
        background-color: #ffdda9;
        padding: 10px 15px;
        border: 0;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    #humburger {
        background-color: transparent;
    }

    #close {
        background-color: transparent;
    }
}
